.DS_Store
model/

# local env files
.env.local
.env.*.local

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

**db.sqlite3
.python-version
**.pyc
.coverage

**/coverage.xml
